* {
  box-sizing: border-box;
}
.header,
.main,
.left,
.right,
.footer {
  border: 2px solid black;
  min-height: 100px;
  margin: 0.5em;
}
.flex {
  display: flex;
}
.main {
  flex-basis: 200px;
  flex-grow: 1;
  min-height: 74vh;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em;
}
.left {
  flex-basis: 200px;
  order: -1;
}
.right {
  flex-basis: 200px;
}
.item {
  border: 2px solid;
  flex-basis: 25%;
  flex-grow: 1;
  margin: 0.5em;
  background-color: papayawhip;
  text-align: center;
  padding: 1em;
}
.title {
  font-size: 25px;
}
.text {
  font-size: 17px;
}
